{% extends 'genderwatch/base.html' %}
{% block title %}
Genderwatch
{% endblock title %}
{% block header %}
<h1>Genderwatch</h1>
{% if perms.genderwatch.can_add_assembly %}
<h2>
<a href="{% url 'assembly-create' %}">Veranstaltung erstellen</a>
</h2>
{% endif %}
{% endblock header %}

{% block content %}
<div class="row">
	<div class="col c12">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Ort</th>
					<th>Datum</th>
					<th>Kategorie</th>
					<th>Aktion</th>

				</tr>
			</thead>
			<tbody>
				{% for assembly in object_list %}
				<tr>
					<td>{{assembly.title}}</td>

					<td>{{assembly.location}}</td>
					<td>{{assembly.date|date:"j.b. Y"}}
					<td>{{assembly.get_category_display}}</td>
					<td><a href="{{assembly.get_absolute_url}}">Überblick</a>{% if perms.genderwatch.can_change_assembly %} | <a href="{% url 'assembly-update' assembly.pk %}">Bearbeiten</a>{% endif%}</td>
					{% endfor %}
				</tr>
			</tbody>

		</table>
	</div>
</div>
{% endblock %}
