{% extends 'genderwatch/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Neue Wortmeldung
{% endblock title %}

{% block header %}
<h1>{{assembly.title}} <small>({{assembly.date|date:"d.M. Y"}})</small></h1>
<h2>Neue Wortmeldung</h2>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col c12">
		<form action="" method="POST" class="uni-form">
			{% csrf_token %}
			{{form}}

			<div class="button-holder">
				<button type="submit" class="btn btn-b smooth">Absenden</button>
			</div>

		</form>
	</div>
</div>
{% endblock %}
